{% extends 'base.html.twig' %}

{% block title %}Qualiservice Calendrier{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-color: #ebebeb
        }

        #calendrier {
            width: 75%;
            background-color: #ffffff;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container" style="margin-top:70px">
    <div id="calendrier">
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },
            events: {{ data| raw }},
    editable: true,
        eventResizableFromStart: true
        })
    calendar.on('eventChange', (e) => {
        let url = `/api/${e.event.id}/edit`
        let data = {
            "arrivalTime": e.event.arrivalTime,
            "driver": e.event.driver,
            "departureTime": e.event.departureTime,
           
        }

        let xhr = new XMLHttpRequest
        xhr.open("PUT", url)
        xhr.send(JSON.stringify(data))
    })
    calendar.render()
    }
</script>

{% endblock %}