{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/calendar_form.css') }}" />
{% endblock %}
{% block title %}New Calendar{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <h1>Création</h1>
            <button class="blue" type="button" onclick="window.location.href='/calendar/building/manager'">Retour au planning quais</button>
                {{ include('calendar/_form.html.twig') }}
            </div>
    </div>

{% endblock %}
