{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/calendar_form.css') }}" />
{% endblock %}

{% block title %}Visualisation{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="brand-title">Visualisation</h1>
            <button class="blue" type="button" onclick="window.location.href='/calendar/view'">Retour au
                calendrier</button>
            {{ include('calendar/_form.html.twig')}}
        </div>
    </div>

</div>
{% endblock %}
