<form method="post" action="{{ path('app_leader_checked_delete', {'id': leader_checked.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ leader_checked.id) }}">
    <button class="btn">Delete</button>
</form>
