{# navbar #}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/nav.css') }}" />
{% endblock %}
{% block navbar %}
    <nav class="navMenu">
        {# <a href="/">Accueil</a> #}
        {% if app.user and 'ROLE_LOREAL' in app.user.roles %}
        <a href="/calendar/view">Planning</a>
        <a href="/loreal">Planning Détaillé</a>

        {% endif%}
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
        <a href="/calendar/view">Planning</a>
        <a href="/loreal">Planning Loreal</a>
        <a href="/driver">Planning Caristes</a>
        <a href="/admin">Configuration</a>
        {% elseif app.user and 'ROLE_USER' not in app.user.roles %}
        <a href="/admin">Configuration</a>
        {% endif %}
        {% if app.user and 'ROLE_SUPER_ADMIN' in app.user.roles %}
        <a href="/admin">Configuration</a>
        {% endif %}
        <div class="dot"></div>
        {% if app.user %}
        <a class="btn btn-danger" href="{{ path('app_logout') }}">Déconnectez vous {{ app.user.userIdentifier }} </a>
        {# {% else %}
        <a class="btn btn-success" href="{{ path('app_login') }}">Connexion</a> #}
        {% endif %}
    </nav>
{% endblock navbar %}


