{# navbar #}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/nav.css') }}" />
{% endblock %}
{% block navbar %}
    <nav class="navMenu">
        <a href="/">Accueil</a>
        <a href="/calendar/view">Planning</a>
        <a href="/driver">Planning Caristes</a>
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
        <a href="/admin">Configuration</a>
        {% elseif app.user and 'ROLE_USER' not in app.user.roles %}
        <a href="/admin">Configuration</a>
        {% endif %}
        <div class="dot"></div>
        {% if app.user %}
        Bienvenue, {{ app.user.userIdentifier }}, <a class="btn btn-danger"
            href="{{ path('app_logout') }}">Déconnexion</a>
        {# {% else %}
        <a class="btn btn-success" href="{{ path('app_login') }}">Connexion</a> #}
        {% endif %}
    </nav>
{% endblock navbar %}


