{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block title %}En contruction{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ici prendra bientôt place une application dédiée au ressources humaines</h1>
        <p>Vous pourrez poser vos congés, gerer votre "coffre temps" et accéder à vos fiches de paie</p>
        <p>Encore un peu de patience, en attendant cliquez sur le lien.</p>
        <a href="/"> Retour à la page d'accueil</a>
    </div>

{% endblock %}
