body {
    background-color: #ebecf0;
    color: #444;
    font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
    margin-top: 50px;
    margin-bottom: 70px;
}
button,
input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 200px;
    padding: 16px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
}
.chargeable {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 8px;
    background-color: #ffffff;
    text-shadow: 1px 1px 0 #fff;
}
#appurement  {
    border: 0;
    outline: 0;
    font-size: 16px;
    padding: 8px;
    background-color: #ffffff;
    text-shadow: 1px 1px 0 #fff;
}
button {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button .icon {
    margin-right: 8px;
}

button.unit {
    border-radius: 8px;
    line-height: 0;
    width: 480px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
}

button.unit .icon {
    margin-right: 0;
}
button.blue {
    display: block;
    width: 50%;
    color: #46aae4;
    font-size: 25px;
    font-weight: bolder;
}
button.green {
    display: block;
    width: 50%;
    color: green;
    font-size: 25px;
    font-weight: bolder;
}
button.unit .icon {
    margin-right: 0;
}

h1 {
    font-size: 50px;
    text-shadow: -1px -1px #eee, 1px 1px #888, -3px 0 4px #000;
    font-family: 'Segoe print', Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 50px;
    letter-spacing: 0.2rem;
    font-weight: lighter;
    text-align: center;
    display: inline;
    line-height: 150px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 95%;
    height: 85%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
