table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  .card-header {
    font-size: 25px;
    color: rgb(242, 242, 248);
    font-weight: bold;
    text-align: center;
    background-color: #1A428E;
  }
