{% extends 'base.html.twig' %}

{% block title %}Qualiservice Calendrier{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-color: #ebebeb
        }

        #calendrier {
            width: 75%;
            background-color: #ffffff;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container" style="margin-top:70px">
    <div id="calendrier">
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data| raw }}
        editable: true,
            eventResizableFromStart: true
        })
        calendar.on('eventChange', (e) => {
            let url = `/api/${e.event.id}/edit`
            let datas = {
                "title": e.event.title,
                "description": e.event.extendedProps.description,
                "start": e.event.start,
                "end": e.event.end,
                "backgroundColor": e.event.backgroundColor,
                "borderColor": e.event.borderColor,
                "textColor": e.event.textColor,
                "allDay": e.event.allDay
            }

            let ajax = new XMLHttpRequest
            ajax.open("PUT", url)
            ajax.send(JSON.stringify(donnees))
        })
        calendar.render()
    }
</script>

{% endblock %}